body{
	text-align: center;
	font-family: sans-serif;
	color: black;
	letter-spacing: .5em;
	background: linear-gradient(to right, rgb(80, 217, 251),rgb(248, 65, 251)) ;
}
h1{
	font:  700 3.5em 'raleway',sans-serif;
	color: rgba(0,0,0,0.7);
	text-align: center;
	width: 100%;
	color: rgba(0,0,0,0.7);
}
h3{
	font:  900 1.5em 'raleway',sans-serif;
	color: rgba(0,0,0,0.7);
	text-align: center;
	letter-spacing: 0.01em;
}
h2{
	color: rgba(0,0,0,0.7);
}
h4{
	color: rgba(0,0,0,0.7);
}
button{
  background-color: lightblue;
  border: 2px solid rgba(0,0,0,0.7);
  border-radius: 10px;
  color:rgba(0,0,0,0.7);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
  font-weight: 800;
  cursor: pointer;
}
}

button:hover , button:active{
	padding: 5px;
	color: rgba(0,0,0,0.7);
	border: 2px solid rgba(0,0,0,0.7);
	font-family: sans-serif;
	font-weight: 400;
	border-radius: 10px;
}